# development gunk
.venv/
.ruff_cache/
__pycache__/
*.pyc

# my worktrees
.wt

# opencode gunk
.opencode/node_modules/
.opencode/package.json
.opencode/package-lock.json
.opencode/gitignore

# harness gunk
.opencode/artifacts/*/old/

# europa interp stuff
src/eis/app/frontend/node_modules/
src/eis/app/frontend/dist/

# data generation, collection, + models
output/
